@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Open+Sans:wght@800&family=Rubik+Doodle+Triangles&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.primary-text {
    color: #fd6e0a;
}

/* nav related styles */
header nav {
  display: flex;
  justify-content: space-around;
}
header nav > h1 {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}


header nav > ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}
