
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.primary-text {
  color: #fd6e0a;
  font-weight: 800;
}
.primary-button {
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

/* nav related styles */
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav > h1 {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}

header nav > ul {
  display: flex;
  align-items: center;
  list-style: none;

}

header nav ul li {
  margin: 18px 51px;
}
header nav ul li a {
  text-decoration: none;
  color: #474747;
}
